# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved.bak

# Xcode
xcuserdata/
DerivedData/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build output
dist/

# Editors
.vscode/
.idea/
